
        <div class="d2h-side-column">
          <div class="d2h-side-column-wrapper">
              <div class="d2h-side-column-container">
                {{{diffs.left}}}
            </div>
          </div>
        </div>
        <div class="d2h-side-column">
          <div class="d2h-side-column-wrapper">
              <div class="d2h-side-column-container">
                {{{diffs.right}}}
            </div>
          </div>
        </div>
      